<h1>Create a Tier List | Add Items</h1>

<a href="<%= clear_session_path %>">Go back</a>

<div>
  <label>Tier List Name:</label>
  <span><%= @tl_name %></span>
</div>

<%= debug @fields %>


<%= form_with url: submit_tl_path, method: :post, local: true do |form| %>
  <div id="item-container">
    <!-- Item Template -->
    <div class="item">
      <fieldset>
        <legend><h3>Item 1</h3></legend>

        <div>
          <%= form.label :name, "Name of item" %>
          <%= form.text_field :name, name: "the_item_name[]" %>
        </div>

        <div>
          <%= form.label :description, "Description" %>
          <%= form.text_area :description, rows: 4, cols: 50, name: "the_item_desc[]" %>
        </div>

        <% if @fields.present? %>
          <h4>Item Details</h4>
          <% @fields.each_with_index do |field, i| %>
            <div>
              <%= form.label "custom_fields[#{field[:name]}]", field[:name] %>
              <% case field[:datatype] %>
              <% when "text" %>
                <%= form.text_field "custom_fields[#{field[:name]}][]", id: "item_detail_#{i + 1}_#{itemCount}" %>
              <% when "number" %>
                <%= form.number_field "custom_fields[#{field[:name]}][]", id: "item_detail_#{i + 1}_#{itemCount}" %>
              <% when "date" %>
                <%= form.date_field "custom_fields[#{field[:name]}][]", id: "item_detail_#{i + 1}_#{itemCount}" %>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </fieldset>
    </div>
  </div>

  <button type="button" onclick="addItem()">Add Another Item</button>
  <%= form.submit "Create Tier List" %>
<% end %>


<script>
  let itemCount = 1;

  function addItem() {
    itemCount++;
    const itemContainer = document.getElementById('item-container');
    const templateItem = document.querySelector('.item');
    
    if (!templateItem) {
      console.error("Template item with class 'item' not found.");
      return;
    }
    
    const newItem = templateItem.cloneNode(true);
    newItem.querySelector('legend h3').textContent = `Item ${itemCount}`;

    newItem.querySelectorAll('input, textarea').forEach((input) => {
      input.value = ''; // Clear the input value for the cloned item
      const id = input.getAttribute('id');
      if (id) {
        input.setAttribute('id', id.replace(/_\d+$/, `_${itemCount}`));
      }
    });

    newItem.querySelectorAll('label').forEach((label) => {
      const forAttr = label.getAttribute('for');
      if (forAttr) {
        label.setAttribute('for', forAttr.replace(/_\d+$/, `_${itemCount}`));
      }
    });

    itemContainer.appendChild(newItem);
  }
</script>
