<!-- _item_card.html.erb -->
<% if current_item %>
  <div class="item-card" onclick="showPopup()">
    <div class="item-card-content">
      <% if current_item.image.attached? %>
        <%= image_tag current_item.image, alt: "#{current_item.name} image", style: "width: 100%;" %>
      <% else %>
        <p>No image available</p>
      <% end %>
      <h3><%= current_item.name || "No name added" %></h3>
      <p><%= current_item.description || "No description available" %></p>
    </div>
  </div>

  <!-- Navigation buttons -->
  <div class="navigation">
    <% if previous_item_id %>
      <%= link_to "Previous Item", tier_list_items_path(@tier_list, current_item_id: previous_item_id), class: "btn" %>
    <% end %>
    <% if next_item_id %>
      <%= link_to "Next Item", tier_list_items_path(@tier_list, current_item_id: next_item_id), class: "btn" %>
    <% end %>
  </div>
<% else %>
  <p>No items to rank.</p>
<% end %>
