<!DOCTYPE html>
<html>
  <head>
    <title>TierList Maker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <!-- Header Section -->
    <header>
      <h1><%= link_to 'Your Site Title', root_path %></h1> <!-- Site title linking to home page -->
    </header>

    <!-- Main Content Section -->
    <div id="content">
      <%= yield %> <!-- This renders the view content for each specific page -->
    </div>

    <!-- Footer Section -->
    <footer>
      <p>&copy; <%= Time.now.year %> Your Company Name. All rights reserved.</p>
    </footer>

  
  </body>
  
</html>
